<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %>
<body>
    <%- include ('../partials/header') %>
    <main>
        <div class="d-flex justify-content-center align-items-center my-3">
            <div class="text-center">
                <h3 class="cart-H3">CARRITO DE COMPRAS</h3>
            </div>
        </div>
        <div class="container">
            <% if (items && items.length > 0) { %>
                <div class="d-flex justify-content-center">
                    <div class="w-75 mx-auto">
                        <table class="table">
                            <thead>
                                <tr class="tr-detail2">
                                    <th scope="col">Detalle de Producto</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
    
                                <% items.forEach(item => { %>
                                <tr class="tr-detail">
                                    <td class="td-title-product">
                                        <img src="<%= item.image_front%>" class="img-responsive" style="width: 100%; height: 100%; object-fit: contain;">
                                        <div class="container justify-content-center">
                                            <p class="p-td-nameProduct"><%= item.product_name %></p>
                                            <% if (licence && licence.licence_name) { %>
                                                <p class="p-td-license"><%= licence.licence_name %></p>
                                            <% } else { %>
                                                <p class="p-td-license">Licencia no disponible</p>
                                                <% console.log(licence); %>
                                            <% } %>
                                            <div class="input-group mb-3">
                                                <span class="p-td-price">Precio: $</span>
                                                    <p class="p-td-price"><%= item.price %></p>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="td-quant">
                                        <div class="item-count-container align-items-center">
                                            <span class="item-count-badge "><%= item.quantity %></span>  
                                        
                                        </div>
                                       
                                    </td>
                                    <td class="td-totalPrice">
                                        <div class="input-group mb-3">
                                            <span class="">$</span>
                                            <span class="">
                                                <p class="cart-item-price"><%= item.total_price %></p>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="td-delete">
                                        <form id="deleteForm" action="cart/remove_item/<%= item.detail_id %>" method="POST">
                                            <button type="submit" class="btn-close cart-item-delete delete-button btn-lg" aria-label="Close"></button>
                                        </form>
                                    </td>                      
                                </tr>
                                <% }) %>
                        </table>
                    </div>
                </div>
                <section class="resume"> <!-- SAQUE EL NOMBRE DE LA CLASE-->
                    <div class="d-flex justify-content-center align-items-center my-3">
                        <div class="text-center">
                            <h3 class="cart-H3">Resumen</h3>
                        </div>
                    </div>
                    <% info.forEach(data => { %>
                    <div class="resume-container ">
                        <div class="w-100 d-flex justify-content-center">
                            <div class="">
                                <div class="resume-quant">
                                    <span class="resume-cols">Cantidad de productos</span>
                                    <span class="resume-cols mx-5">
                                        <p id="quant"><%= data.cant_items %></p>
                                    </span>
                                </div>
                                <div class="resume-quant">
                                    <span class="resume-cols">Subtotal</span>
                                    <span class="mb-2">
                                        <p id="subtotal">$<%= data.Total %></p>
                                    </span>
                                </div>
                                <div class="resume-quant">
                                    <span class="resume-cols">Descuentos</span>
                                    <span class="mb-2">
                                        <p id="envio">$0.00</p>
                                    </span>
                                </div>
                                <hr class="hr-colored">
                                <div class="resume-quant">
                                    <span class="resume-cols">TOTAL</span>
                                    <span class="mb-2">
                                        <p id="total">$<%= data.Total %></p>
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <% }) %>
                    <button class="cart-button3" type="submit">IR A PAGAR</button> 
                </section>
            <% } else { %>
                <p class="text-center">No hay elementos en el carrito.</p>
            <% } %>
            
            
        </div>
    </main>
    <%- include ('../partials/footer') %>
</body>

</html>